/node_modules
/public/hot
/public/storage
/public_html/hot
/public_html/storage
/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.sublime-project
*.sublime-workspace
.bash_history
.bashrc
.cache/
.composer/
.viminfo
.idea/
nodejs/
.config/
.npm/
.npmrc
.psysh.php
.local/
.ssh/
route.txt
/public_html/token.json
/app/Http/Controllers/Excel/credentials.json
/public_html/credentials.json
/app/Http/Controllers/Madeline/credentials.json
/public_html/MadelineProto.log
/app/Http/Controllers/Madeline/redaktor.*
